.input {
    width: 100%;
    padding: 1rem 5.2rem 1rem 1rem;
    border: 0.2rem #e8f0fe solid;
    border-radius: 1rem;
}

.label {
    top: -25px;
    position: absolute;
    font-size: 1.2rem;
    color: black;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}